.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__logo {
      width: 250px;
      img{
         width: 100%;
      }
   }
   &__oficial {
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      span {
         display: block;
         font-size: 19px;
      }
   }
   &__phone {
      display: block;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      &:hover {
         color: white;
         text-decoration: none;
      }
   }
   &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
}

@media screen and (max-width: 991px) {
   .header {
      justify-content: space-around;
   }
}

@media screen and (max-width: 575px) {
   .header {
      &__phone {
         font-size: 13px;
      }
      &__oficial {
         span{
            font-size: 14px;
         }
      }
   }
}