.overlay {
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(#000000, .56);
   .modal {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 382px;
      min-height: 402px;
      background: rgb(242, 242, 242);
      padding: 38px 40px 40px 40px;
      &_mini {
         min-height: 143px;
      }
      &__close {
         position: absolute;
         right: -40px;
         color: $main_color;
         top: 0;
         font-size: 40px;
         line-height: 20px;
         cursor: pointer;
      }
      &__subtitle {
         color: rgb(13, 13, 13);
         font-size: 18px;
         font-weight: 700;
         line-height: 19px;
         letter-spacing: 0px;
         text-align: center;
      }
      &__descr {
         color: rgb(13, 13, 13);
         font-size: 14px;
         font-weight: 700;
         line-height: 14px;
         letter-spacing: 0px;
         text-align: center;
         margin-top: 10px;
      }
   }
}

#consultation, #order, #thanks {
   display: none;
}