.promo{
   min-height: 650px;
   padding: 21px 0 93px 0;
   background: url("../img/main.jpeg") center (center/cover) no-repeat;
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 90px;
   }
   &__header {
      color: rgb(255, 255, 255);
      font-size: 42px;
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
      line-height: 24px;
   }
   &__subheader {
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      text-align: right;
      text-transform: uppercase;
      margin-top: 17px;
   }
   &__icons {
      margin-top: 65px;
      width: 425px;
      display: flex;
      justify-content: space-between;
   }
   &__icon {
      width: 106px;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      img {
         display: block;
         margin: 0 auto;
         margin-bottom: 20px;
      }
   }
   &__link{
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 500;
      margin-top: 18px;
      a{
         color: rgb(255, 255, 255);
         text-decoration: underline;
         text-transform: uppercase;
      }
   }
}

@media screen and (max-width: 991px) {
   .promo {
      &__wrapper {
         align-items: center;
      }
   }
}

@media screen and (max-width: 576px){
   .promo {
      &__header{
         font-size: 25px;
         line-height: auto;
      }
      &__subheader {
         font-size: 20px;
         text-align: center;
      }
      &__icons {
         width: auto;
      }
   }
}